@model IEnumerable<Demo.BL.Models.DepartmentVM>
@*دا بستخدمو لما اكون هجي بيانات كلاس مثلا برا الفولدر بتاعي فبقولو انا هجيب ايمبلويي موديل*@
@{
    ViewBag.Title = "Department";
}

<style>
    th {
        text-align: center !important
    }

    td {
        text-align: center !important
    }
</style>


<br />

<div class="block-header">
    <a>Home / Department / Department Card </a>
</div>
@* دى بستخدمها عشان الديزاي وكدا وعشان يعرف الصفحه دى جايه منين وكدا *@



<a asp-controller="Department" asp-action="Create" class="btn btn-primary">Create New Department</a>
@*get وكذلك الفانكشن الى هناك تلقائيا من نوع  get دا من نوع  a الى بترجع الصفحه مش الى بتضيف بيانات لان ال  Create هنا هيفهم انو رايح لل *@


<table class="table table-striped table-hover table-bordered text-center font-weight-bold">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)@*Model--> employeesالى انا جايبها الى فيها مجموعه من ال listدى المفروض بتعبر  عن ال*@
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Code</td>
            <td> <a asp-controller="Department" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details </a></td>
            <td> <a asp-controller="Department" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Update</a> </td>
            <td> <a asp-controller="Department" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a> </td>
            @* المفروض دلوقتي ان اللينك دا ؤايح لفانكشن معينه الفانكشن دى بتاخد براميتر ف هبعتو ازاي؟ *@
            @*عشان ابعتلها البراميتر بتاعها   asp-route-ParameterName بستخدم *@
            @*capital or small وبكتب اسم البراميتر الى انا كاتبو ف الفانكشن بعد اخر شرطه وبكتبو بنفس الحروف سواء   *@


        </tr>

        }
    </tbody>
</table>






